.card {
background-color: #50515e;
}

.card img {
max-height: 10rem;
width: auto;
}

@media only screen and (max-width:576px) {
    .card {
    text-align: center;
    padding: 0;
    width: 80%;
    height: auto;
    margin: auto;
    }

    .card img {
    width: auto;
    height: auto;
    }
}