{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_field, render_hidden_errors %}

{% block title %} Add {% endblock %}

{% block content %}
<div class="text-light text-center container">
    <h1>About</h1>

    <p class="mt-3">
        E-Blog is a website made by <a href="https://twitter.com/GISDevEd" target="_blank">@Edwin</a> as one of his many
        side-projects.
        It allows creating, reading, updating and deleting of blogpost. Users can als comment on a post.
        Moderation is key and any insulting or degrading comments are deleted once they are found.
        Enjoy
    </p>
</div>
{% endblock content %}