<!doctype html>
{% from 'bootstrap5/utils.html' import render_messages %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles %}
    {{ bootstrap.load_css() }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='base.css') }}">
    {% endblock styles %}
    {{ moment.include_moment() }}
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark mb-2 fixed-top">
    <div class="container-fluid d-flex justify-content-between">
        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand text-light" href="{{ url_for('main.index') }}" id="brand">E-Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">
                        <button class="btn btn-sm text-light fw-bold">Home</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                       href="{{ url_for('main.add_blogpost', user_id=current_user.user_id) }}">
                        <button class="btn btn-sm text-light fw-bold" id="add-btn">Add</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">
                        <button class="btn btn-sm text-light fw-bold">About</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">
                        <button class="btn btn-sm text-light fw-bold">Contact</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('auth.logout') }}">
                        <button class="btn btn btn-sm btn-outline-light">Logout</button>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">
                        <button class="btn btn-sm text-light fw-bold">Home</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">
                        <button class="btn btn-sm text-light fw-bold">About</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">
                        <button class="btn btn-sm text-light fw-bold">Contact</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('auth.login') }}">
                        <button class="btn btn btn-sm btn-outline-light">Login</button>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="margin-top: 8rem;">

    {{ render_messages() }}

    {% block content %}
    {% endblock content %}
</div>
{{ bootstrap.load_js() }}
</body>
</html>