{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_field, render_hidden_errors %}

{% block title %} Add {% endblock %}

{% block content %}
<div class="text-light text-center container">
    <p class="fs-5">Working on it.</p>
    <p>As of now you can reach out on LinkedIn <a href="https://linkedin.com/in/edwin-karimi/" target="_blank">@edwin-karimi</a>
        and on Twitter <a
                href="https://twitter.com/GISDevEd"
                target="_blank">@GISDevEd</a></p>
</div>
{% endblock content %}