{% extends 'base.html' %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
{% endblock styles %}

{% block title %} Home {% endblock %}

{% block content %}

<p class="h2 text-center text-light mb-3">Latest Articles</p>

{% for blogpost in blogposts %}
<article class="postcard dark">
    <a class="postcard__img_link" href="#">
        <img class="postcard__img" src="{{ url_for('static', filename=blogpost.cover_image) }}"
             alt="Image Title"/>
    </a>
    <div class="postcard__text">
        <p class="postcard__title blue"><a
                href="{{ url_for('main.read_post', post_title=blogpost.title, post_id=blogpost.post_id) }}"
                class="text-decoration-none">{{ blogpost.title }}</a></p>
        <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
                <i>{{ render_icon('calendar3') }}</i> &nbsp; {{ moment(blogpost.created_on).format('LL') }} by {{
                blogpost.author }}
            </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">{{ blogpost.content|truncate(250,true,'...') }}</div>
        <ul class="postcard__tagbox">
            <li class="tag__item"><a
                    href="{{ url_for('main.read_post', post_title=blogpost.title, post_id=blogpost.post_id) }}"
                    class="text-decoration-none text-light fs-6">Read</a>
                {% if current_user.is_authenticated %}
            <li class="tag__item delete"><a
                    href="{{ url_for('main.delete_post', post_id=blogpost.post_id) }}"
                    class="text-decoration-none text-light fs-6">Delete</a>
                {% endif %}
        </ul>
    </div>
</article>
{% endfor %}

{% endblock content %}