{% extends 'base.html' %}
{% from 'bootstrap5/utils.html' import render_icon %}
{% from 'bootstrap5/form.html' import render_field %}

{% block title %} Home {% endblock %}

{% block content %}
<article class="text-light">
    <div class="mb-5">
        <h2>{{ post.title }}</h2>
        <small>{{ moment(post.created_on).format('LL') }} - by {{ post.author }}</small>
    </div>
    <div class="text-center w-75 m-auto">
        <img class="img-fluid" src="{{ url_for('static', filename=post.cover_image)  }}" alt="{{ post.title }}">
    </div>

    <p class="mt-4">
        {{ post.content }}
    </p>
</article>

<div class="text-light mb-5">
    <p class="fs-3 mt-5">Comments</p>
    <form method="POST">
        {{ comment_form.csrf_token() }}
        {{ render_field(comment_form.username, placeholder='your name') }}
        {{ render_field(comment_form.comment, placeholder='Be nice') }}
        {{ render_field(comment_form.submit, button_size='sm', class="btn-success") }}
    </form>
</div>

<div class="mt-4">
    <ol class="list-group list-group-numbered text-light">
        {% for comment in comments %}
        <li class="list-group-item my-3">
            <small class="float-end fst-italic">
                {{ moment(comment.posted_on).format('LL') }}
            </small>

            {{ comment.comment }}
            <div>
                <small class="float-end fst-italic">by {{ comment.username }} </small>
            </div>
        </li>
        {% endfor %}
    </ol>
</div>
{% endblock content %}